<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>hManga - Onepunch man</title>
    <link href="lib/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet">
</head>

<body>

    <h1>Onepunch man</h1>
    <h2>Chapter 2</h2>

    <div id="flexContainer">
        <div id="mangaDisplay">

            <div id="progress">
                <div id="value"></div>
            </div>
            <img id="currentPage" src="test.jpg">

            <div id="navButtons">

                <!-- To last page -->
                <div id="leftNav" class="navButton">
                    <i class="mdi mdi-chevron-left"></i><span>back</span>
                </div>

                <!-- To next page -->
                <div id="rightNav" class="navButton">
                    <span>continue</span><i class="mdi mdi-chevron-right"></i>
                </div>

            </div>

        </div>

        <div id="infoBox">
            <i class="mdi mdi-chevron-up" id="infoExpand"></i>

            <div id="infoText">
                <div>
                    <p>You are reading "Onepunch Man"</p>
                    <p>Read it Right to left <i class="mdi mdi-arrow-left"></i></p>
                    <p>On Chater 1/13, page 2/14</p>
                </div>
            </div>

        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>
